<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/it8688e/control/0/plot" value="false" />
    <add key="/lpc/it8688e/control/1/plot" value="false" />
    <add key="/lpc/it8688e/control/2/plot" value="false" />
    <add key="/lpc/it8688e/control/3/plot" value="false" />
    <add key="/lpc/it8688e/control/4/plot" value="false" />
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/5/plot" value="false" />
    <add key="/amdcpu/0/load/6/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/power/0/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/amdcpu/0/power/2/plot" value="false" />
    <add key="/amdcpu/0/power/3/plot" value="false" />
    <add key="/amdcpu/0/power/4/plot" value="false" />
    <add key="/amdcpu/0/power/5/plot" value="false" />
    <add key="/amdcpu/0/power/6/plot" value="false" />
    <add key="/amdcpu/0/power/7/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/fan/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="564" />
    <add key="mainForm.Location.Y" value="347" />
    <add key="mainForm.Width" value="588" />
    <add key="mainForm.Height" value="800" />
    <add key="/lpc/it8688e/voltage/0/plot" value="false" />
    <add key="/lpc/it8688e/voltage/1/plot" value="false" />
    <add key="/lpc/it8688e/voltage/2/plot" value="false" />
    <add key="/lpc/it8688e/voltage/3/plot" value="false" />
    <add key="/lpc/it8688e/voltage/4/plot" value="false" />
    <add key="/lpc/it8688e/voltage/5/plot" value="false" />
    <add key="/lpc/it8688e/voltage/6/plot" value="false" />
    <add key="/lpc/it8688e/voltage/7/plot" value="false" />
    <add key="/lpc/it8688e/voltage/8/plot" value="false" />
    <add key="/lpc/it8688e/temperature/0/plot" value="false" />
    <add key="/lpc/it8688e/temperature/1/plot" value="false" />
    <add key="/lpc/it8688e/temperature/2/plot" value="false" />
    <add key="/lpc/it8688e/temperature/3/plot" value="false" />
    <add key="/lpc/it8688e/temperature/4/plot" value="false" />
    <add key="/lpc/it8688e/temperature/5/plot" value="false" />
    <add key="/lpc/it8688e/fan/0/plot" value="false" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/clock/5/plot" value="false" />
    <add key="/amdcpu/0/clock/6/plot" value="false" />
    <add key="/amdcpu/0/power/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/values" value="H4sIAAAAAAAEANvItMto2sc7HgwMB/4DAIXigJUMAAAA" />
    <add key="/hdd/3/temperature/0/plot" value="false" />
    <add key="/hdd/2/load/0/plot" value="false" />
    <add key="/hdd/2/temperature/0/plot" value="false" />
    <add key="/lpc/nct6793d/voltage/11/plot" value="false" />
    <add key="/lpc/nct6793d/voltage/10/plot" value="false" />
    <add key="/lpc/nct6793d/voltage/9/plot" value="false" />
    <add key="/lpc/nct6793d/voltage/8/plot" value="false" />
    <add key="/lpc/nct6793d/voltage/7/plot" value="false" />
    <add key="/lpc/nct6793d/voltage/5/plot" value="false" />
    <add key="/lpc/nct6793d/voltage/4/plot" value="false" />
    <add key="/lpc/nct6793d/voltage/3/plot" value="false" />
    <add key="/lpc/nct6793d/voltage/2/plot" value="false" />
    <add key="/lpc/nct6793d/voltage/1/plot" value="false" />
    <add key="/lpc/nct6793d/voltage/0/plot" value="false" />
    <add key="/hdd/3/load/0/plot" value="false" />
    <add key="/hdd/3/data/2/plot" value="false" />
    <add key="/hdd/3/data/1/plot" value="false" />
    <add key="/hdd/3/data/0/plot" value="false" />
    <add key="/hdd/3/level/0/plot" value="false" />
    <add key="/nvidiagpu/0/power/0/plot" value="false" />
    <add key="/lpc/nct6793d/voltage/14/plot" value="false" />
    <add key="/lpc/nct6793d/voltage/13/plot" value="false" />
    <add key="/lpc/nct6793d/voltage/12/plot" value="false" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEABP+NcVo2sc7HgwMB/4DAEh92WMMAAAA" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEABP+NcVo2sc7HgwMB/4DAEh92WMMAAAA" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEABP+NcVo2sc7HgwMB/4DAEh92WMMAAAA" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEABP+NcVo2sc7HgwMB/4DAEh92WMMAAAA" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEABP+NcVo2sc7HgwMB/4DAEh92WMMAAAA" />
    <add key="/amdcpu/0/load/5/values" value="H4sIAAAAAAAEAPvCO9Vo2sc7HgwMB/4DAP6O7hAMAAAA" />
    <add key="/amdcpu/0/load/6/values" value="H4sIAAAAAAAEAPvCO9Vo2sc7HgwMB/4DAP6O7hAMAAAA" />
    <add key="/amdcpu/0/temperature/0/values" value="H4sIAAAAAAAEAPN1nGk07eMdDwaGA/8BLYbHPwwAAAA=" />
    <add key="/amdcpu/0/temperature/2/values" value="" />
    <add key="/amdcpu/0/temperature/3/values" value="" />
    <add key="/amdcpu/0/temperature/4/values" value="" />
    <add key="/amdcpu/0/temperature/5/values" value="" />
    <add key="/amdcpu/0/temperature/6/values" value="" />
    <add key="/amdcpu/0/temperature/7/values" value="" />
    <add key="/amdcpu/0/power/0/values" value="H4sIAAAAAAAEAFMNnWk07eMdDwaGA/8Bkiu2DwwAAAA=" />
    <add key="/amdcpu/0/power/1/values" value="H4sIAAAAAAAEAFMNnWk07eMdDwaGA/8Bkiu2DwwAAAA=" />
    <add key="/amdcpu/0/clock/0/values" value="" />
    <add key="/amdcpu/0/power/2/values" value="H4sIAAAAAAAEAHs4YabRtI93PBgYDvwHAM9I6owMAAAA" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEAHs4YabRtI93PBgYDvwHAM9I6owMAAAA" />
    <add key="/amdcpu/0/power/3/values" value="H4sIAAAAAAAEAHs4YabRtI93PBgYDvwHAM9I6owMAAAA" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEAHs4YabRtI93PBgYDvwHAM9I6owMAAAA" />
    <add key="/amdcpu/0/power/4/values" value="H4sIAAAAAAAEADu9ZKbRtI93PBgYDvwHAMhDX+YMAAAA" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEADu9ZKbRtI93PBgYDvwHAMhDX+YMAAAA" />
    <add key="/amdcpu/0/power/5/values" value="H4sIAAAAAAAEADu9ZKbRtI93PBgYDvwHAMhDX+YMAAAA" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEADu9ZKbRtI93PBgYDvwHAMhDX+YMAAAA" />
    <add key="/amdcpu/0/power/6/values" value="H4sIAAAAAAAEANuxY6bRtI93PBgYDvwHAMBGZxEMAAAA" />
    <add key="/amdcpu/0/clock/5/values" value="H4sIAAAAAAAEANuxY6bRtI93PBgYDvwHAMBGZxEMAAAA" />
    <add key="/amdcpu/0/power/7/values" value="H4sIAAAAAAAEANuxY6bRtI93PBgYDvwHAMBGZxEMAAAA" />
    <add key="/amdcpu/0/clock/6/values" value="H4sIAAAAAAAEANuxY6bRtI93PBgYDvwHAMBGZxEMAAAA" />
    <add key="/lpc/it8688e/voltage/0/values" value="H4sIAAAAAAAEAMsyjDaa9vGOBwPDgf8ANTgG0QwAAAA=" />
    <add key="/lpc/it8688e/voltage/1/values" value="H4sIAAAAAAAEAMtxjTaa9vGOBwPDgf8ApLzAcAwAAAA=" />
    <add key="/lpc/it8688e/voltage/2/values" value="H4sIAAAAAAAEAMtxjTaa9vGOBwPDgf8ApLzAcAwAAAA=" />
    <add key="/lpc/it8688e/voltage/3/values" value="H4sIAAAAAAAEAMtxjTaa9vGOBwPDgf8ApLzAcAwAAAA=" />
    <add key="/lpc/it8688e/voltage/4/values" value="H4sIAAAAAAAEAMtxjTaa9vGOBwPDgf8ApLzAcAwAAAA=" />
    <add key="/lpc/it8688e/voltage/5/values" value="H4sIAAAAAAAEAGuOjDaa9vGOBwPDgf8AMXYt7gwAAAA=" />
    <add key="/lpc/it8688e/voltage/6/values" value="H4sIAAAAAAAEAGuOjDaa9vGOBwPDgf8AMXYt7gwAAAA=" />
    <add key="/lpc/it8688e/voltage/7/values" value="H4sIAAAAAAAEAGuOjDaa9vGOBwPDgf8AMXYt7gwAAAA=" />
    <add key="/lpc/it8688e/voltage/8/values" value="H4sIAAAAAAAEAGuOjDaa9vGOBwPDgf8AMXYt7gwAAAA=" />
    <add key="/lpc/it8688e/temperature/0/values" value="H4sIAAAAAAAEACvNjTaa9vGOBwPDgf8AWwUu3QwAAAA=" />
    <add key="/lpc/it8688e/temperature/1/values" value="H4sIAAAAAAAEACvNjTaa9vGOBwPDgf8AWwUu3QwAAAA=" />
    <add key="/lpc/it8688e/temperature/2/values" value="H4sIAAAAAAAEACvNjTaa9vGOBwPDgf8AWwUu3QwAAAA=" />
    <add key="/lpc/it8688e/temperature/3/values" value="H4sIAAAAAAAEACvNjTaa9vGOBwPDgf8AWwUu3QwAAAA=" />
    <add key="/lpc/it8688e/temperature/4/values" value="H4sIAAAAAAAEAOubGm007eMdDwaGA/8BaMkx2wwAAAA=" />
    <add key="/lpc/it8688e/temperature/5/values" value="H4sIAAAAAAAEAGtYGW007eMdDwaGA/8BrcNwEAwAAAA=" />
    <add key="/lpc/it8688e/fan/0/values" value="H4sIAAAAAAAEAKvbG2007eMdDwaGA/8B7knjowwAAAA=" />
    <add key="/lpc/it8688e/fan/1/values" value="H4sIAAAAAAAEAKvbG2007eMdDwaGA/8B7knjowwAAAA=" />
    <add key="/lpc/it8688e/fan/2/values" value="H4sIAAAAAAAEAKvbG2007eMdDwaGA/8B7knjowwAAAA=" />
    <add key="/lpc/it8688e/fan/3/values" value="" />
    <add key="/lpc/it8688e/fan/4/values" value="" />
    <add key="/lpc/it8688e/control/0/values" value="" />
    <add key="/lpc/it8688e/control/1/values" value="" />
    <add key="/lpc/it8688e/control/2/values" value="" />
    <add key="/lpc/it8688e/control/3/values" value="" />
    <add key="/lpc/it8688e/control/4/values" value="" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="312" />
    <add key="treeView.Columns.Value.Width" value="125" />
    <add key="treeView.Columns.Min.Width" value="125" />
    <add key="treeView.Columns.Max.Width" value="125" />
    <add key="listenerPort" value="8085" />
    <add key="/lpc/nct6793d/control/0/plot" value="false" />
    <add key="/lpc/nct6793d/control/1/plot" value="false" />
    <add key="/lpc/nct6793d/control/2/plot" value="false" />
    <add key="/lpc/nct6793d/control/3/plot" value="false" />
    <add key="/lpc/nct6793d/control/4/plot" value="false" />
    <add key="/lpc/nct6793d/control/5/plot" value="false" />
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/lpc/nct6793d/temperature/0/plot" value="false" />
    <add key="/lpc/nct6793d/temperature/1/plot" value="false" />
    <add key="/lpc/nct6793d/temperature/2/plot" value="false" />
    <add key="/lpc/nct6793d/temperature/4/plot" value="false" />
    <add key="/lpc/nct6793d/temperature/5/plot" value="false" />
    <add key="/lpc/nct6793d/temperature/6/plot" value="false" />
    <add key="/lpc/nct6793d/fan/0/plot" value="false" />
    <add key="/lpc/nct6793d/fan/1/plot" value="false" />
    <add key="/lpc/nct6793d/fan/2/plot" value="false" />
    <add key="/lpc/nct6793d/fan/3/plot" value="false" />
    <add key="/lpc/nct6793d/fan/4/plot" value="false" />
    <add key="/hdd/3/factor/1/plot" value="false" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEABNKucXjyXbXg4HhwH8AZHQloAwAAAA=" />
    <add key="/hdd/1/temperature/0/values" value="H4sIAAAAAAAEANuUIMrryXbXg4HhwH8AkfLF9gwAAAA=" />
    <add key="/hdd/1/load/0/values" value="H4sIAAAAAAAEAFvVLsrryXbXg4HhwH8At9/f8gwAAAA=" />
    <add key="/hdd/2/temperature/0/values" value="" />
    <add key="/hdd/2/load/0/values" value="" />
    <add key="/hdd/3/temperature/0/values" value="" />
    <add key="/hdd/3/level/0/values" value="" />
    <add key="/hdd/3/data/0/values" value="" />
    <add key="/hdd/3/data/1/values" value="" />
    <add key="/hdd/3/data/2/values" value="" />
    <add key="/hdd/3/load/0/values" value="" />
    <add key="/hdd/3/factor/1/values" value="" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAJu3YjWPJ9tdDwaGA/+9XMIZGcDA0qlQLokJwrZwkmY8zAJjCyenQcXNnVLU4uFq9inosMPYd91yoeKmTi4rE+Dqt4fFwdXv9U+BszefzYCr4ZqWCGVbOwEADaJZ/pwAAAA=" />
    <add key="/nvidiagpu/0/fan/0/values" value="H4sIAAAAAAAEAJu3YjWPJ9tdDwaGA/8tdoYzMkCB6NxCRRgbAPKr4mYkAAAA" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAJu3YjWPJ9tdDwaGA/+tJ4UzMgAB4wdVl4rviUxg9gEul/8iSWA2w4HtzlcPQ8QZHmx1juhOhbAVDjqnqcVD2AzTnKefT4OwE844Z51Ihuvd2wHVe2Cm8xO3XCh7hbP+hQSoekaXfWFxEHsZLjk/tYGav2C285yd6VC7lF1Yp0HdJtHrAgCRFit+wAAAAA==" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAJu3YjWPJ9tdDwaGA/+tJ4UzMgDBG3Ze14rviUwgNuMDcZf/IkkQdsMpZ3bHJ+Iw9pyd6WDxN/EMrqzTIOofZa5yBQCSM31kVAAAAA==" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAJu3YjWPJ9tdDwaGA/+tJ4UzMkCB/NxCRRgbADiccqAkAAAA" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAJu3YjWPJ9tdDwaGA/8tdoYzMoDBB4fy74lMEPYSx9dJSVD2C4dnpTBxC8ew7lQ4O1UtHso+4TDvfBqU7eOYuzAZyjZx3NuRCBe/mZsLZTc5Gl1IgLInOB7Tj4Orv94FM1/GcVV2OpQ9xZF1GswcAQcAmWbQJcAAAAA=" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAJu3YjWPJ9tdDwaGA/8tdoYzMoABj2P590QmCHud4+ukJCi7x/FZKUx8kWNYdyqUvcwxVS0eyp7hOO98GpS9yjHlRDJc/bFEmN4ljjdzc6HsNY5GFxKg7E2Ox/Tj4Oqvd8HMn+e4Kjsdrp51GsycBfYASTSDmcAAAAA=" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAJu3YjWPJ9tdDwaGA/8tdoYzMkCBUlmhIowNAJpQRwIkAAAA" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAJu3YjWPJ9tdDwaGA/8tdoYzMoBBg13590QmCDvB4XVSEpz9rBQmruAQ1p0KZRs4pKrFQ9kMDPPOp0HZAg4pJ5Kh7Ab7Y4mJcPbN3Fy4GqMLCXDzj+nHQdkH7K93wcxnsF+VnQ5lO9izTkuE2wUAP3Fsh8AAAAA=" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEAJu3YjWPJ9tdDwaGA/8tdoYzMgDBDWFnxyK5JCYQO/S2k+PLJAT7rV8imC0219kxrDsVzF5919mR+dtRFhg75UQyWHzqbWfH3R0Q9Q2lzo5P3HIh5kQ4Ox7ZqMIOYy/LTgeLX33u5Mg+DaLeu9PZEQCJ3A5/nAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAJu3YjWPJ9tdDwaGA/8tdoYzMgCBxfQVrkVySUwgNsO8Fa4vkxDst36JYPaBthWuYd2pEPH6Fa7M346ywNgpJ5LB4g5A9u4OiPqG7hWuT9xyIer7V7ge2ajCDmMvy06HqJmzwpV9GkS9QucKVwCz6vxTnAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAJu3YjWPJ9tdDwaGA/8tdoYzMgCBg5u1S5FcEhOIzSBg7fIyCcF+65cIYZ+ydgnrToWwOWxcmL8dZYGxU04kQ8TZbFx2d0DVL7F2eeKWC2F3WLsc2ajCDmMvy06HiMtYu7BPg6rfbu0CAP6XdQycAAAA" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAJu3YjWPJ9tdDwaGA/8tdoYzMoDBAVfRuYWKMDYACPPGySQAAAA=" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEAJu3YjWPJ9tdDwaGA/8tdoYzMkCB6NxCRRgbAPKr4mYkAAAA" />
    <add key="/nvidiagpu/0/power/0/values" value="H4sIAAAAAAAEADvVwcznyXbXo/zfPMdyuSQmBiDw5il3NN4EYV8o93Nc9D8BzDa4W+IY2p0KZm/1SHBM9I0Hs0X1Yh2XrEgDs2fNTHQ8ejIZzJ4yI9Qxrj0RzJ5wyN/xvlsumO2wNcJR8zvETDuuIMeDYXFgtkdigqP5bYj5qbujHAPPQszkWNPtyLoXYs7z388cAdem/5i0AAAA" />
    <add key="/nvidiagpu/0/throughput/0/values" value="H4sIAAAAAAAEAJORWMfjyXbXg4HhwP9zmyMZGcDA2Pa0aSoTmKlw1S5qcwKEzdBguV8kHspmYFjSmQZjW//6HwcX5/oGE9e1Yz6VDGVfs9FrSoSyVWyeueVC2bJ2jk0w8/fYHNWHmbPCZpFMOpSdYHPED2pmw25blmkwc3JsAKaApZLAAAAA" />
    <add key="/nvidiagpu/0/throughput/1/values" value="H4sIAAAAAAAEAJORWMfjyXbXg4HhwP/r2XGMDGAwwTp8bwoTmNnQbbs2PBHCBoLJD+KgbAXbmr1pcPGL346ywNgdp5Oh4g2WfBkwvTusZaJyoWwHa9emBChbwuaEPszMBqvvyulwdo47zPwHVuzTYOYUWAMAIHWcirQAAAA=" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAPsjtoDHk+2uBwPDgf8Lr/5iZAACF0Enp/L2JCYQe4KGk9N+cwj7jIGT03zONDD7lbiTE/PceDBbFMie9isBzObd6egUti4TzH5zzsGJRz4dzF520dFp7aEoMPvYCienG2rJEPG1Tk6vY0ohds1zcjrWEQxm7+p3clrJmgtmH/3t5HTVOQ7Mfj7ByenKH4gbfG86OwEApx7IwsAAAAA=" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAHuTsoDHk+2uBwPDgf8b238xMgDBt6LvDuXtSUwg9poJ3x32m0PYOrO/O8znTAOzi6q/OzDPjQezk6q+O0z7lQBm1zB9dwhblwlmf7n+1YFHPh3MvqX43WHtoSgwW83kh8MNtWQwO8bqh8PrmFIwW0H9h8OxjmAw20zkh8NK1lww+9fcHw5XnePA7G2iPxyu/IG4oWDHTwcADOw2rMAAAAA=" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAHuTsoDHk+2uBwPDgf8b238xMgDBT09mx/L2JCYQW86a2XG/OYR9z5TZcT5nGpi925XZkXluPJjt7MbsOO1XApht1sTsGLYuE8yuEmdx5JFPB7Pbi5gd1x6KArMTXzI53lBLBrPdnjE5vo4pBbOfvGdyPNYRDGZH/mRyXMmaC2aXb2FyvOocB2bP/MHkeOUPxA026kyOALbvDgfAAAAA" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEADN0+snryXbXoyl+syNfQxITAwhsEXTadxrK3rHQ8d7GRAj7RYPjlZQUCHtDo6OIKlR8R7Cj8gWIuAbXHMeTj5LB7D0TTZ0+VkPUsFQ5O7Ffg4iL5Os4ifRngdke3gxORx/Ggtm81RFOO10h5my0P+NYwJYGZqdGPnAMSoeIvzXodwQA3yyd0rQAAAA=" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEADN0+snryXbXw2jtJke+hiQmBhBQ+Ou47zSU7dDseG9jIoTdwOl4JSUFKn7OQUQVKs5QZa98ASJuI6jkePJRMphtmSHt9LEaosbVxNGJ/RpE3HqjkpNIfxaY3fvypOPRh7FgtgeLj9NOV4g5SewHHQvY0sDsNotrjkHpEPGNwvyOAFAahfK0AAAA" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEADN0+snryXbXY8EpXie+hiQmBhCw0HPadxrKbtjteG9jIoRt0Od4JSUFwlZocBRRhYpvmOWofAEiPq+izvHko2QwO/Cts9PHaoiaex1+TuzXIOLWD42dRPqzwOwdFmJORx/Ggtl123KddrpCzLHeOMOxgC0NzG4/9MUxKB0iLvx7siMAaby4QbQAAAA=" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEADN0+snryXbX4/a3Cke+hiQmBhAIEHTadxrKXhDueG9jIoS9odHxSkoKhM0wzVFEFSqucNpR+QJU/MMJx5OPksHspPemTh+rIWr+qfs7sV+DiG/creok0p8FZi9R/+549GEsmL0wPNFppyvEnKPzbjoWsKWB2cYy1x2D0iHiXbbPHAGCzgXMtAAAAA==" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEADN0+snryXbXQ/NAkyNfQxITAwjs4HDadxrKDrjjeG9jIoTNsN7xSkoKhC2w11FEFSru8NxB+QJEfOPna44nHyWD2UxMjk4fqyFq3jHpO7Ffg4ir55k6ifRngdmXsrmcjj6MBbNP33Rz2ukKMSdp+V/HArY0MDvE775jUDpEvIypzBEARSAQbbQAAAA=" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEADN0+snryXbXg4HB2omvIYmJAQysnfadhrHlnO5tTISyVZ2upKRA2ZpOIqowcRkn5QswcUOnk4+Soewwp4/ViXA2+zWYuJ+TSH8WlG3vdPRhLJSd7rTTFWaOt1MBWxqU7eIUlA4T13ACAKkMP7G0AAAA" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEADN0+snryXbXg4HB3YmvIYmJAQxSnPadhrGtnO5tTISyLZyupKRA2fZOIqowcR8n5QswcSOnk4+SoexSp4/VMDVhTqx/YeJxTmIZWVB2pFOrZDyUXeZ0dSVMjavTlKxUKNvXKSgdZr6GEwCbI/cLtAAAAA==" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEADN0+snryXbXg4FB04ljeRITAxhYOh1ZAmMLO93bmAhlGztdSUmBsuWdRFQT4WqUL8DEtZ1OPkqGsj2cPlbD1Fg4KUxMh7K9nZ4owthmTt2S8VC2v9OzaJheV6cpWalQtpVTUDrMfHsnAJyH7JO0AAAA" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEADN0+snryXbXg4HB0oljeRITAxg4OB1ZAmNbO93bmAhlKzhdSUmBsm2dRFRh4upOUt9h4u5O824mQ9kpTqpxMDXJTgoT06HsaKcnijC2l1O3ZDyUHeT0LBqm19dpSlYq3EwDZhhb1wkAcy0nFLQAAAA=" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEADN0+snryXbXg4EhyIljeRITAxikOR1ZAmNHOd3bmAhlBzpdSUmBsmOdeH1g4tFOihdg4mFO728lQ9mFTldiYGoKnPpD8qHsEqfSuHgoO8upWzIeLv4sGqY302lKVircfANmGNvfCQAVxgjLtAAAAA==" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEAHvxhonPk+2ux5e0E06FcklMDEBQC2S/DUgEs+uBbL0NEHYdkC2cnAZmNwDZKWrxcDXZ59LgamacTIaL7+5A6L3rlgsXd1mZAGbXANnbw+LA7EYge69/Ctz8zWcz4Oq5piHMAQCK5nrVtAAAAA==" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEANu48TevJ9tdjwnNza5SkUlMDEDgBGTL/UwAs12AbNFNiXBxwcQ0MNsZyF765SgLjL3hRDJc/YHJiXA1B53z4OyQy/FgtiOQfUw/Dq6ezTMFzm4PS4Gr/yCcBhcHAHiuZFSoAAAA" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEADNW/MfryXbXY0Jzs6u6URITAxA4AdmlSolgtguQ7bg5ES4eF58GZjsD2dHfjrLA2AdOJsPVS/cnwtW8j8yFs/X2JoDZjkD2fv04uPpjXilwtuURhPnVSxBmAgAa0KquqAAAAA==" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEANs0gYHPk+2ux4TmZlcV7iQmBiBwArKNfRPBbBcg22pjIlz8aHwamO0MZHv/OMoCY4cfT4arr+hNhKt5H5kLZ2vvTQCzHUHm6MfB1Wv7pcDZ3OxZYHbg+wpXz7gEuDgAHcUvAqgAAAA=" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEAHvxhonPk+2ux4TmZtdCuSQmBiBwArLfBiSC2S5Att6GRLi4cHIamO0MZJ//cpQFxp5xMhmufndHIlzNXbdcONtlZQKY7Qhkbw+Lg6vf658CZ28+mwFmy9zIcuWahnADAIDtaC+oAAAA" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEAHvxhonPk+2ux7xmDadCuSQmBiDwlQ10ehuQCGbfuKnrpLcBwg5o03QSTk4Ds5WC1JxS1OLB7NhT0k7Z5yDi3vtMnWacTAazl3nWOe3ugOi9dqHG6a5bLpjNsTrPyWVlAphdUhHltD0sDsx2Smty2uufAmZf/+/ltPlsBphtcELPiWsaxJyO+7xOALHc8kO0AAAA" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEAHvxhonPk+2ux/t4QadCuSQmBiAwtNZ0ehuQCGaXbWRx0tsAYf8M+ukonJwGZquofHZMUYsHs29a3XPMPgcRX3CGw2nGyWQwu40l0Gl3B0SvVpe/0123XDC7J9LRyWVlApht4KnrtD0sDszWzAt32uufAmZbCMs5bT6bAWZPe8TkxDUNYs7mCf8cAaNro0u0AAAA" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEAHvxhonPk+2uBwMQCB8pVGSAAgBHdmnRGAAAAA==" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEAHvxhonPk+2ux571++wL5ZKYGIBAPYfZ4W1AIpj9sXOtvd4GCPtJ+2p74eQ0MDvAYqF9ilo8mP11e4999jmIeIP2bvsZJ5PBbAN9JofdHRC9d91/2d91ywWzkzZ+tXdZmQBmXyl+b789LA4i7s/usNc/BcwuyD9uv/lsBpi9Ieu2Pdc0iDk31q20BwA2CplctAAAAA==" />
    <add key="/lpc/nct6793d/voltage/0/values" value="H4sIAAAAAAAEAJuuN5HPk+2uh2yUiv1dnRQmBiBQaNW2b25PALPD+HTt959OBrNdunXsk7ST4OzFTRC2EYeOfVpBKpydVQER/1WnZd99MxFuZvcahPmC7ulw9f1vEuHsKY8hdskD1XhNgpip3S5mf/ZPGpjtCrQXACSGW7G0AAAA" />
    <add key="/lpc/nct6793d/voltage/1/values" value="H4sIAAAAAAAEAJuuN5HPk+2ux/bPtfahzqWKDEAAYgMAWbAuThgAAAA=" />
    <add key="/lpc/nct6793d/voltage/2/values" value="H4sIAAAAAAAEAJuuN5HPk+2uR7JAhEOoc6kiAxCA2AAWReftGAAAAA==" />
    <add key="/lpc/nct6793d/voltage/3/values" value="H4sIAAAAAAAEAJuuN5HPk+2uR7JAhMNdnRQmBiAAsZvbE8Dst4ERDvtPJ8PFk7ST4OzFTUlwNWkFqXB2VgVCTffNRLh49xqI+W+AbEH3dLia/jeJcPaUxxC7UoBsr0kQM8smRzic/ZMGVwMAjZ2AHLQAAAA=" />
    <add key="/lpc/nct6793d/voltage/4/values" value="H4sIAAAAAAAEAJuuN5HPk+2uBwNDg73dlhUyDGDQYO81KZUJxOp0bLA/+ycNzL7zs84eAFSWW8QwAAAA" />
    <add key="/lpc/nct6793d/voltage/5/values" value="H4sIAAAAAAAEAJuuN5HPk+2ux5Ol0nahzqWKDEAAYgMA7O98XxgAAAA=" />
    <add key="/lpc/nct6793d/voltage/6/values" value="" />
    <add key="/lpc/nct6793d/voltage/7/values" value="H4sIAAAAAAAEAJuuN5HPk+2uhx1XuEOoc6kiAxCA2ACSdEP2GAAAAA==" />
    <add key="/lpc/nct6793d/voltage/8/values" value="H4sIAAAAAAAEAJuuN5HPk+2uR8sBL4fG1V2cDEAAYi9uSmICsXmZvB3SClKZYOJZFUlwdvfNRLia7jUpcHFB93S4eP8bhJopj5PhasT7z7DA2ABXVCC8hAAAAA==" />
    <add key="/lpc/nct6793d/voltage/9/values" value="H4sIAAAAAAAEAJuuN5HPk+2uB3vjVPu7OilMDEAgyTLNvrk9AcyecGiq/f7TyWA2SA3ruiMsMHZaQSpcTVZFElxv981EuPruNSlwNQuMT7LA2FMeI8z0mpQKZ5/9kwZXDwBts/9WnAAAAA==" />
    <add key="/lpc/nct6793d/voltage/10/values" value="H4sIAAAAAAAEAJuuN5HPk+2uR0CvuH2oc6kiAxCA2ADCAHvpGAAAAA==" />
    <add key="/lpc/nct6793d/voltage/11/values" value="H4sIAAAAAAAEAJuuN5HPk+2ux96SyfZ3dVKYGIDAbdtk++b2BDAbJK71qpcTxs6qSIKr6b6ZiGCvSYGrF3RPh4v3v0mEi68uMmCHsQFAnUtbeAAAAA==" />
    <add key="/lpc/nct6793d/voltage/12/values" value="H4sIAAAAAAAEAJuuN5HPk+2uBwNDg32oc6kiAxg02AMA86hHDxgAAAA=" />
    <add key="/lpc/nct6793d/voltage/13/values" value="H4sIAAAAAAAEAJuuN5HPk+2ux6yZkvahzqWKDEAAYgMADCaS9hgAAAA=" />
    <add key="/lpc/nct6793d/voltage/14/values" value="H4sIAAAAAAAEAJuuN5HPk+2uh4nxZPu7OilMDEDgtm2yfXN7Apg9I2+S/f7TyWD2qo+T7JO0k+Dii5sQ7LSCVDAbZE5WBUR8b8lk++6biWC24oZJ9t1rUuDigu7pcHb/m0S43imPIXYZA9lek1Lhas7+SQOzIy2n2AMALHFXerQAAAA=" />
    <add key="/lpc/nct6793d/temperature/0/values" value="H4sIAAAAAAAEAJuuN5HPk+2uBwNDgNNdnRQmBjBIdmpuT4CyQ5z2n06GsoOdkrST4OzFTTB2kFNaQSqUHe2UVQETL3HqvpkIZac7da+BmZ/rJOieDmVnOPW/ganJd5ryGGZXjpPXJJiZtk5n/6TB7QUAl0CjfLQAAAA=" />
    <add key="/lpc/nct6793d/temperature/1/values" value="H4sIAAAAAAAEAJuuN5HPk+2uB0ODgNNdnRQmBhBoEHRqbk+AsBmEnKYkfeCGsbtvJkLFRZy616TA2YLu6VC9ok79b2BqxJymPE6Gs70mpULZ4k5n/6TBxQEfYp8ThAAAAA==" />
    <add key="/lpc/nct6793d/temperature/2/values" value="H4sIAAAAAAAEAJuuN5HPk+2uBwMDh1Ooc6kiAxhwOAEAH1pbnxgAAAA=" />
    <add key="/lpc/nct6793d/temperature/3/values" value="" />
    <add key="/lpc/nct6793d/temperature/4/values" value="H4sIAAAAAAAEAJuuN5HPk+2uBwODh1Ooc6kiAxh4OAEA6+KbLhgAAAA=" />
    <add key="/lpc/nct6793d/temperature/5/values" value="H4sIAAAAAAAEAJuuN5HPk+2uBwNDn+NdnRQmBjDocWxuT4CyJzgeqdRgh7HTClKh4n2OWRVJcPXdNxPh4nM+n2aBsfvfJMLNWV1kADcHAEto22F4AAAA" />
    <add key="/lpc/nct6793d/temperature/6/values" value="H4sIAAAAAAAEAJuuN5HPk+2uBwNDn+NdnRQmBjDoc2xuT4CyJzjK2wTxwdjdaxBqBN3T4ez+N4lw9VMeJ8PZXpNS4WrO/kmDsjscAYyFET94AAAA" />
    <add key="/lpc/nct6793d/fan/0/values" value="H4sIAAAAAAAEAJuuN5HPk+2uR23CfOe7OilMDECwpma+c3N7AphtnL7Aef/pZDBbY+N85yTtJDCb98h858VNEPahH/Od0wpSwex3xvOdsyog4hEc8527byaC2Y9WLnDuXgMxP+DLfGdB93Qwm///POf+NxA16WfmOU95DLFLxnK+s9ckiJlzpi9wPvsnDcw+pzLfGQAICB1BtAAAAA==" />
    <add key="/lpc/nct6793d/fan/1/values" value="H4sIAAAAAAAEAJuuN5HPk+2uh9/KTc53dVKYGIBA3WmTc3N7Aph90muf8/7TyWD2hyubnJO0k8DsSSc2OS9ugrCtujY5pxWkgtldDJucsyog4jLXNjl330wEs3dtPuXcvQZift2jrc6C7ulg9vTIbc79byBq1rbvdZ7yGGLXswlbnL0mQcw0/r3J+eyfNDDbTWiTMwC5dfSxtAAAAA==" />
    <add key="/lpc/nct6793d/fan/2/values" value="H4sIAAAAAAAEAJuuN5HPk+2ux3bROJe7OilMDECwvC/Opbk9AczWy8ly2X86GcyenRHvkqSdBGavaIp3WdwEYWd/i3NJK0gFs7uPx7lkVUDE81XiXbpvJoLZ53lrXbrXQMz3XZrkIuieDmbfDEhw6X8DUXNgU7rLlMcQu2YsTXDxmgQxM8Yp3uXsnzQwe8LXOBcAC3m9F7QAAAA=" />
    <add key="/lpc/nct6793d/fan/3/values" value="H4sIAAAAAAAEAJuuN5HPk+2ux06uSJe7OilMDEAgsjLCpbk9Acy+wpHssv90Mpj9UC/SJUk7Cczm64h0WdwEYe+4F+GSVpAKZutERrhkVUDEtzBFunTfTASzPYryXLrXQMyfviXaRdA9HcxesyfKpf8NRM2bPQkuUx5D7FLZEuPiNQli5rKUSJezf9LA7JrdES4A3HwKcrQAAAA=" />
    <add key="/lpc/nct6793d/fan/4/values" value="H4sIAAAAAAAEAJuuN5HPk+2ux43zW5zv6qQwMQDB1Zotzs3tCWD2caOtzvtPJ4PZwZpbnZO0k8Bs2ZVbnRc3QdiTmLc6pxWkgtmzm7c4Z1VAxFsUtjp330wEs8Vktjh3r4GY/1Vqq7OgezqYfV9ni3P/G4ia54pbnKc8htj1gmeLs9ckiJna67c4n/2TBmZvmbfFGQDirqMWtAAAAA==" />
    <add key="/lpc/nct6793d/fan/5/values" value="H4sIAAAAAAAEAJuuN5HPk+2uBwMQhDqXKjJAAQB9ytghGAAAAA==" />
    <add key="/lpc/nct6793d/control/0/values" value="H4sIAAAAAAAEAJuuN5HPk+2uR0e7udNdnRQmBiAIDLBwam5PALNB4lqvejlh7KyKJLia7puJYLaUpKVT95oUuHpB93Q4u/9NIlz9lMfJcHHx/jMsMDYA7SlmXYQAAAA=" />
    <add key="/lpc/nct6793d/control/1/values" value="H4sIAAAAAAAEAJuuN5HPk+2uR1joVce7OilMDEAgKfnQsbk9AcwGiWu96uWEsbMqksDiJcWPHbtvJoLZ9+68cexeA9GbknLHUdA9Hczm4rrl2P8GokYKaOaUx8lwM8X7z7DA2ABEZTkchAAAAA==" />
    <add key="/lpc/nct6793d/control/2/values" value="H4sIAAAAAAAEAJuuN5HPk+2ux/599xzv6qQwMQDBtGnPHJvbE8DswIAHjvtPJ4PZIDXZclrsMHZWRRJY/NHDh47dNxPB7EkTPzp2r4GYEwDUK+ieDmf3v4GoYWN96jjlMcJM8f4zLDA2ACgRHpuQAAAA" />
    <add key="/lpc/nct6793d/control/3/values" value="H4sIAAAAAAAEAJuuN5HPk+2ux/599xzv6qQwMQDBtGnPHJvbE8DswIAHjvtPJ4PZIDXZclrsMHZWRRJY/NHDh47dNxPB7EkTPzp2r4GYEwDUK+ieDmf3v4GoYWN96jjlMcJM8f4zLDA2ACgRHpuQAAAA" />
    <add key="/lpc/nct6793d/control/4/values" value="H4sIAAAAAAAEAJuuN5HPk+2uR3OTk1Ooc6kiAxCA2ADtHiqIGAAAAA==" />
    <add key="/lpc/nct6793d/control/5/values" value="H4sIAAAAAAAEAJuuN5HPk+2uBwPDAqe7OilMDEAwaeJCp+b2BDAbJK71qpcTxs6qSIKr6b6ZCGZ3tC926l4D0ZuSssBJ0D0dzu5/A1ETFbXIacrjZLiZ4v1nWGBsAM2X//GEAAAA" />
  </appSettings>
</configuration>