<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/it8688e/control/0/plot" value="false" />
    <add key="/lpc/it8688e/control/1/plot" value="false" />
    <add key="/lpc/it8688e/control/2/plot" value="false" />
    <add key="/lpc/it8688e/control/3/plot" value="false" />
    <add key="/lpc/it8688e/control/4/plot" value="false" />
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/5/plot" value="false" />
    <add key="/amdcpu/0/load/6/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/power/0/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/amdcpu/0/power/2/plot" value="false" />
    <add key="/amdcpu/0/power/3/plot" value="false" />
    <add key="/amdcpu/0/power/4/plot" value="false" />
    <add key="/amdcpu/0/power/5/plot" value="false" />
    <add key="/amdcpu/0/power/6/plot" value="false" />
    <add key="/amdcpu/0/power/7/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/fan/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="1019" />
    <add key="mainForm.Location.Y" value="282" />
    <add key="mainForm.Width" value="588" />
    <add key="mainForm.Height" value="800" />
    <add key="/lpc/it8688e/voltage/0/plot" value="false" />
    <add key="/lpc/it8688e/voltage/1/plot" value="false" />
    <add key="/lpc/it8688e/voltage/2/plot" value="false" />
    <add key="/lpc/it8688e/voltage/3/plot" value="false" />
    <add key="/lpc/it8688e/voltage/4/plot" value="false" />
    <add key="/lpc/it8688e/voltage/5/plot" value="false" />
    <add key="/lpc/it8688e/voltage/6/plot" value="false" />
    <add key="/lpc/it8688e/voltage/7/plot" value="false" />
    <add key="/lpc/it8688e/voltage/8/plot" value="false" />
    <add key="/lpc/it8688e/temperature/0/plot" value="false" />
    <add key="/lpc/it8688e/temperature/1/plot" value="false" />
    <add key="/lpc/it8688e/temperature/2/plot" value="false" />
    <add key="/lpc/it8688e/temperature/3/plot" value="false" />
    <add key="/lpc/it8688e/temperature/4/plot" value="false" />
    <add key="/lpc/it8688e/temperature/5/plot" value="false" />
    <add key="/lpc/it8688e/fan/0/plot" value="false" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/clock/5/plot" value="false" />
    <add key="/amdcpu/0/clock/6/plot" value="false" />
    <add key="/amdcpu/0/power/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/values" value="H4sIAAAAAAAEANvItMto2sc7HgwMB/4DAIXigJUMAAAA" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEAFsvtsto2sc7HgwMB/4DAC5rhm4MAAAA" />
    <add key="/hdd/1/temperature/0/values" value="H4sIAAAAAAAEAKs8c8No2sc7HgwMB/4DAFCf5eUMAAAA" />
    <add key="/hdd/1/load/0/values" value="H4sIAAAAAAAEAMt/cMNo2sc7HgwMB/4DAFzKRooMAAAA" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEANvUtdBo2sc7HgwMB/4DALCecvAMAAAA" />
    <add key="/nvidiagpu/0/fan/0/values" value="H4sIAAAAAAAEANvUtdBo2sc7HgwMB/4DALCecvAMAAAA" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEANvUtdBo2sc7HgwMB/4DALCecvAMAAAA" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEANvUtdBo2sc7HgwMB/4DALCecvAMAAAA" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEANvUtdBo2sc7HgwMB/4DALCecvAMAAAA" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEANs/b6HRtI93PBgYDvwHABco8nAMAAAA" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEANs/b6HRtI93PBgYDvwHABco8nAMAAAA" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEANs/b6HRtI93PBgYDvwHABco8nAMAAAA" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEANs/b6HRtI93PBgYDvwHABco8nAMAAAA" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEANs/b6HRtI93PBgYDvwHABco8nAMAAAA" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEANs/b6HRtI93PBgYDvwHABco8nAMAAAA" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEANs/b6HRtI93PBgYDvwHABco8nAMAAAA" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEANs/b6HRtI93PBgYDvwHABco8nAMAAAA" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEANs/b6HRtI93PBgYDvwHABco8nAMAAAA" />
    <add key="/nvidiagpu/0/power/0/values" value="" />
    <add key="/nvidiagpu/0/throughput/0/values" value="H4sIAAAAAAAEAHu0dZHRtI93PBgYDvwHAGXArJwMAAAA" />
    <add key="/nvidiagpu/0/throughput/1/values" value="H4sIAAAAAAAEAHu0dZHRtI93PBgYDvwHAGXArJwMAAAA" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAPtoMMto2sc7HgwMB/4DAHikuJoMAAAA" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAPtoMMto2sc7HgwMB/4DAHikuJoMAAAA" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAPtoMMto2sc7HgwMB/4DAHikuJoMAAAA" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEABP+NcVo2sc7HgwMB/4DAEh92WMMAAAA" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEABP+NcVo2sc7HgwMB/4DAEh92WMMAAAA" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEABP+NcVo2sc7HgwMB/4DAEh92WMMAAAA" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEABP+NcVo2sc7HgwMB/4DAEh92WMMAAAA" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEABP+NcVo2sc7HgwMB/4DAEh92WMMAAAA" />
    <add key="/amdcpu/0/load/5/values" value="H4sIAAAAAAAEAPvCO9Vo2sc7HgwMB/4DAP6O7hAMAAAA" />
    <add key="/amdcpu/0/load/6/values" value="H4sIAAAAAAAEAPvCO9Vo2sc7HgwMB/4DAP6O7hAMAAAA" />
    <add key="/amdcpu/0/temperature/0/values" value="H4sIAAAAAAAEAPN1nGk07eMdDwaGA/8BLYbHPwwAAAA=" />
    <add key="/amdcpu/0/temperature/2/values" value="" />
    <add key="/amdcpu/0/temperature/3/values" value="" />
    <add key="/amdcpu/0/temperature/4/values" value="" />
    <add key="/amdcpu/0/temperature/5/values" value="" />
    <add key="/amdcpu/0/temperature/6/values" value="" />
    <add key="/amdcpu/0/temperature/7/values" value="" />
    <add key="/amdcpu/0/power/0/values" value="H4sIAAAAAAAEAFMNnWk07eMdDwaGA/8Bkiu2DwwAAAA=" />
    <add key="/amdcpu/0/power/1/values" value="H4sIAAAAAAAEAFMNnWk07eMdDwaGA/8Bkiu2DwwAAAA=" />
    <add key="/amdcpu/0/clock/0/values" value="" />
    <add key="/amdcpu/0/power/2/values" value="H4sIAAAAAAAEAHs4YabRtI93PBgYDvwHAM9I6owMAAAA" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEAHs4YabRtI93PBgYDvwHAM9I6owMAAAA" />
    <add key="/amdcpu/0/power/3/values" value="H4sIAAAAAAAEAHs4YabRtI93PBgYDvwHAM9I6owMAAAA" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEAHs4YabRtI93PBgYDvwHAM9I6owMAAAA" />
    <add key="/amdcpu/0/power/4/values" value="H4sIAAAAAAAEADu9ZKbRtI93PBgYDvwHAMhDX+YMAAAA" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEADu9ZKbRtI93PBgYDvwHAMhDX+YMAAAA" />
    <add key="/amdcpu/0/power/5/values" value="H4sIAAAAAAAEADu9ZKbRtI93PBgYDvwHAMhDX+YMAAAA" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEADu9ZKbRtI93PBgYDvwHAMhDX+YMAAAA" />
    <add key="/amdcpu/0/power/6/values" value="H4sIAAAAAAAEANuxY6bRtI93PBgYDvwHAMBGZxEMAAAA" />
    <add key="/amdcpu/0/clock/5/values" value="H4sIAAAAAAAEANuxY6bRtI93PBgYDvwHAMBGZxEMAAAA" />
    <add key="/amdcpu/0/power/7/values" value="H4sIAAAAAAAEANuxY6bRtI93PBgYDvwHAMBGZxEMAAAA" />
    <add key="/amdcpu/0/clock/6/values" value="H4sIAAAAAAAEANuxY6bRtI93PBgYDvwHAMBGZxEMAAAA" />
    <add key="/lpc/it8688e/voltage/0/values" value="H4sIAAAAAAAEAMsyjDaa9vGOBwPDgf8ANTgG0QwAAAA=" />
    <add key="/lpc/it8688e/voltage/1/values" value="H4sIAAAAAAAEAMtxjTaa9vGOBwPDgf8ApLzAcAwAAAA=" />
    <add key="/lpc/it8688e/voltage/2/values" value="H4sIAAAAAAAEAMtxjTaa9vGOBwPDgf8ApLzAcAwAAAA=" />
    <add key="/lpc/it8688e/voltage/3/values" value="H4sIAAAAAAAEAMtxjTaa9vGOBwPDgf8ApLzAcAwAAAA=" />
    <add key="/lpc/it8688e/voltage/4/values" value="H4sIAAAAAAAEAMtxjTaa9vGOBwPDgf8ApLzAcAwAAAA=" />
    <add key="/lpc/it8688e/voltage/5/values" value="H4sIAAAAAAAEAGuOjDaa9vGOBwPDgf8AMXYt7gwAAAA=" />
    <add key="/lpc/it8688e/voltage/6/values" value="H4sIAAAAAAAEAGuOjDaa9vGOBwPDgf8AMXYt7gwAAAA=" />
    <add key="/lpc/it8688e/voltage/7/values" value="H4sIAAAAAAAEAGuOjDaa9vGOBwPDgf8AMXYt7gwAAAA=" />
    <add key="/lpc/it8688e/voltage/8/values" value="H4sIAAAAAAAEAGuOjDaa9vGOBwPDgf8AMXYt7gwAAAA=" />
    <add key="/lpc/it8688e/temperature/0/values" value="H4sIAAAAAAAEACvNjTaa9vGOBwPDgf8AWwUu3QwAAAA=" />
    <add key="/lpc/it8688e/temperature/1/values" value="H4sIAAAAAAAEACvNjTaa9vGOBwPDgf8AWwUu3QwAAAA=" />
    <add key="/lpc/it8688e/temperature/2/values" value="H4sIAAAAAAAEACvNjTaa9vGOBwPDgf8AWwUu3QwAAAA=" />
    <add key="/lpc/it8688e/temperature/3/values" value="H4sIAAAAAAAEACvNjTaa9vGOBwPDgf8AWwUu3QwAAAA=" />
    <add key="/lpc/it8688e/temperature/4/values" value="H4sIAAAAAAAEAOubGm007eMdDwaGA/8BaMkx2wwAAAA=" />
    <add key="/lpc/it8688e/temperature/5/values" value="H4sIAAAAAAAEAGtYGW007eMdDwaGA/8BrcNwEAwAAAA=" />
    <add key="/lpc/it8688e/fan/0/values" value="H4sIAAAAAAAEAKvbG2007eMdDwaGA/8B7knjowwAAAA=" />
    <add key="/lpc/it8688e/fan/1/values" value="H4sIAAAAAAAEAKvbG2007eMdDwaGA/8B7knjowwAAAA=" />
    <add key="/lpc/it8688e/fan/2/values" value="H4sIAAAAAAAEAKvbG2007eMdDwaGA/8B7knjowwAAAA=" />
    <add key="/lpc/it8688e/fan/3/values" value="" />
    <add key="/lpc/it8688e/fan/4/values" value="" />
    <add key="/lpc/it8688e/control/0/values" value="" />
    <add key="/lpc/it8688e/control/1/values" value="" />
    <add key="/lpc/it8688e/control/2/values" value="" />
    <add key="/lpc/it8688e/control/3/values" value="" />
    <add key="/lpc/it8688e/control/4/values" value="" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="312" />
    <add key="treeView.Columns.Value.Width" value="125" />
    <add key="treeView.Columns.Min.Width" value="125" />
    <add key="treeView.Columns.Max.Width" value="125" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>